@use "variaveis";

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: variaveis.$bgColorPrimary;

  &__container{

    margin-bottom: 1rem;
    a{
      text-decoration: none;
      color: variaveis.$textColorSecondary;
      font-size: 16px;
      transition: .3s ease;
      display: inline-block;
      padding: .25rem;

      &:hover{
        background-image: url("../images//bgBotao.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: variaveis.$textColorPrimary;
      }

      @media (max-width: 900px){
        background-image: url("../images/bgBotao.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: variaveis.$textColorPrimary; 
      }
    }
  }
}