@use "variaveis";

@mixin arrowContent() {
  display: block;
  height: 32px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery {
  padding: 2rem 1rem;
  margin: 4rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 2rem;
  overflow-x: hidden;

  h2 {
    display: inline-block;
    color: variaveis.$textColorSecondary;
    margin-bottom: 2rem;
  }

  &__carousel {
    max-width: 800px;

    img {
      width: 500px;
      height: 400px;
      object-fit: contain;
    }

    .slick-dots .slick-active button::before {
      color: variaveis.$textColorSecondary;
    }
  }

  .slick-slider {
    position: relative;
    .slick-prev,
    .slick-next {
      @include arrowContent();
      padding: 1rem;
      z-index: 1;
    }

    .slick-next:before {
      content: "";
      @include arrowContent();
      background-image: url("../../../src/images/right-arrow.png");
      position: absolute;
      top: 0;
      margin-left: -30%;
    }

    .slick-prev:before {
      content: "";
      @include arrowContent();
      background-image: url("../../../src/images/left-arrow.png");
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media (max-width: 768px) {
    h2{
      margin: 0 auto .5rem;
    }
    &__carousel {
      
      img{
        width: 70vw;
        height: 50vh;
      }
    }
  }
}
